.board {
  width: auto;
  max-width: 350px;
  background-color: white;
  padding: 0px 32px;
  border: 1px solid #eaecef;
}

.dashboard-context {
  margin: 16px 0 24px;
  padding: 16px 0;
  border-bottom: #EEEEEE solid 1px;
}

.mini-profile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.nickname {
  margin-left: 8px;
  font-weight: 500;
}

.dropdown {
  width: 20px;
  height: 20px;
}

.repository-title {
  display: flex;
}

.board h2 {
  width: 100%;
  font-size: 16px;
}

.repository-title a {
  padding: 3px 12px;
  background-color: #2ea44f;
  color: white;
  border-radius: 8px;
}

.board input {
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 8px;
  background-color: #fafbfc;
  padding: 5px 12px;
  margin: 0 0 16px;
  display: block;
}

.flex {
  display: flex;
}

.book {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 8px;
}

a {
  color: #0366d6;
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

#btn-show-more {
  display: block;
  border: none;
  background-color: white;
  color: #666666;
  font-size: 14px;
}